<!DOCTYPE html>
<html>
<head>
    <title>Product Form</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Product Form</h1>
    <form th:action="@{/saveproduct}" th:object="${product}" method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" th:value="*{name}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand" th:value="*{brand}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></p>
        
        <label for="madeIn">Made In:</label>
        <input type="text" name="madein" id="madein" th:value="*{madein}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('madein')}" th:errors="*{madein}"></p>
        
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" th:value="*{price}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" th:value="*{quantity}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
        
        <label for="discountRate">Discount Rate:</label>
        <input type="number" name="discountrate" id="discountrate" th:value="*{discountrate}"/><br><br>
        <p class="error" th:if="${#fields.hasErrors('discountrate')}" th:errors="*{discountrate}"></p>
        
        <input type="submit" name="saveproduct" value="Save"><br><br>
    </form>
</body>
</html>