<html>
	<head>
		<title>Product list</title>
	</head>
	<body>
		<div>
			<h2>Product list</h2>
			<table border='2'>
				<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>brand</th>
				<th>price</th>
				<th>madein</th>
				<th>quantity</th>
				<th>discountrate</th>
				<th>taxrate</th>
				<th>discountprice</th>
				<th>offerprice</th>
				<th>finalprice</th>
				<th>stockvalue</th>
				<th>
					Actions
				</th>

					</tr>
			</thead>
			<tbody>
				<tr th:each="product:${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.brand}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.madein}"></td>
					<td th:text="${product.quantity}"></td>
					<td th:text="${product.discountrate}"></td>
					<td th:text="${product.taxrate}"></td>
					<td th:text="${product.discountprice}"></td>
					<td th:text="${product.offerprice}"></td>
					<td th:text="${product.finalprice}"></td>
					<td th:text="${product.stockvalue}"></td>
					<td>
						<a th:href="@{'/delete/'+${product.id}}">Delete</a>
						<a th:href="@{'/edit/'+${product.id}}">Edit</a>
						
					</td>


					
				</tr>
			</tbody>

				</table>

		</div>
	</body>
</html>